<nav class="nav" role="navigation">
  <div class="container">
    <div class="nav-left nav-brand">
      <a href="{{ "/" | prepend: site.baseurl }}" class="nav-item">
        {{ site.title }}
      </a>
    </div>

    <div class="nav-center">
      {% for path in site.header_pages %}
        {% assign header_page = site.pages | where: "path", path | first %}
        <a href="{{ header_page.url }}" class="nav-item {% if page.url == header_page.url %} is-active {% endif %}">
          {{ header_page.title }}
        </a>
      {% endfor %}
    </div>
  </div>
</nav>
