---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$fred: #B71512;
$fwhite: #FF9FB;
$fblack: #252627;

$primary: #B71512;



@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

